{% extends "base.html" %} {% block titulo%} SocialDate {% endblock %} 
{% block contenido %} 
{% load static %}

<div class="background-image"></div>

<div class="carousel-caption" style="color: black">
  <h1>NOSOTROS</h1>
  <p style="font-size: 30px">
    Somos una empresa llamada social date, responsables en crear esta app y
    ayudarte a que conoscas mas personas en el mundo y para tu seguridad somos
    100% confiables.
  </p>

  <a type="button" class="btn btn-primary" href="#">Iniciar Seccion</a>
  <button type="button" class="btn btn-primary">Crear Cuenta</button>
</div>

{%endblock%}
